
@import "jquery-mobile-1.4.0";
@import "fonts";

$hb-orange-light: #ffc641;
$hb-orange: #ffae18;
$rbold: robotobold, Arial, sans-serif;
$ritalic: robotoitalic, Arial, sans-serif;
$rlight: robotolight, Arial, sans-serif;

.clearfix {
	zoom:1;
	&:before, &:after {
		content: "\0020";
		display: block;
		height: 0;
		overflow: hidden;
	}
	&:after {
		clear: both;
	}
}

/*// GLOBAL CSS*/

body {
	padding:0;
	margin:0;
    font-family:roboto, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 8px 0;
    padding: 0;
    text-shadow:none !important;
    font-family:roboto, Arial, sans-serif;
    color: #3a3a3a;
}

.hbfont {
    font-family: 'HBFont', Arial, sans-serif;
    text-decoration: none;
    font-weight: normal !important;

}

/*.opacity-wrapper{
	opacity:0;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	&.loaded{
		opacity:1;
		transition: all 0.2s ease;
		-webkit-transition: all 0.2s ease;
	}

}*/



textarea {
    width: 90%;
    height: 70px;
}

button {
    width: 90%;
    height: 50px;
    font-size: 1.8em;
}

.ui-bar-a, .ui-header {
    /*// background-image: linear-gradient(,#F5CA43);*/
    min-height: 50px;
    border: 0 none !important;
}

*.ui-shadow-inset {
    box-shadow: none !important;
}

ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 8px 0;
    padding: 0;
}

/*// HOME PAGE*/

div#home {
    background-image: -webkit-linear-gradient($hb-orange-light, $hb-orange);
    background-image: -moz-linear-gradient($hb-orange-light, $hb-orange);
    background-image: -o-linear-gradient($hb-orange-light, $hb-orange);
    background-image: -ms-linear-gradient($hb-orange-light, $hb-orange);
    background-image: linear-gradient($hb-orange-light, $hb-orange);
}

div#home div[data-role="content"] {
    /*background-color: blue;*/
    margin: 0 auto;
    width: 200px;
    margin-top: 50%;
}



.nav-bar {
	// background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.64, #ffae18), color-stop(0.81, #ff9305));
	background-image: -o-linear-gradient(bottom, #ffae18 64%, #ff9305 81%);
	background-image: -moz-linear-gradient(bottom, #ffae18 64%, #ff9305 81%);
	background-image: -webkit-linear-gradient(top, #ffae18 64%, #ff9305 81%);
	background-image: -ms-linear-gradient(bottom, #ffae18 64%, #ff9305 81%);
	background-image: linear-gradient(to bottom, #ffae18 64%, #ff9305 81%);
	ul{
		clear:both;
		margin:0;
		@extend .clearfix;
		padding:0;
		position:relative;
	}
	a{
		display:block;
	}
	li{
		text-align:center;
		height:100%;
	}
	.nav-item{
		position:absolute;
		left:0;
		top:0;
		display:block;
		z-index:100;
		a{
			padding:0 30px;
			display:block;
			background:url('../img/overflowBtn.png') no-repeat 50% 50%;
			background-size:17px 17px;
			height:100%;

		}
		&.nav-right{
			left:auto;
			right:0;
			a{
				background-image: url('../img/messageBtn.png');
			}
		}
	}
	.nav-title{
		width:100%;
		position:relative;
		z-index:50;
		a{
			padding:5px 0;
            color:#fff;
            font-size: 26px;
            font-weight: normal;
            text-shadow: 0 1px 0px #7E5117;
		}
		img{
			max-width:130px;
		}
	}
}

a.nav-messages, 
a.nav-overflow {
    img {
        width: 6%;
    }
}

a.nav-messages {
    position: relative;
    left: 90%;
    bottom: 25px;
}

a.nav-overflow {
    position: relative;
    left: 4%;
    top: 30px;
}


div[data-role="header"]{
	margin:0;
}

/*// GIVE HELP GET HELP*/

div[data-role="sub-nav"] {
    // background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.81, #f2f2f2), color-stop(1, #e6e6e6));
    background-image: -o-linear-gradient(bottom, #f2f2f2 81%, #e6e6e6 100%);
    background-image: -moz-linear-gradient(bottom, #f2f2f2 81%, #e6e6e6 100%);
    background-image: -webkit-linear-gradient(top, #f2f2f2 81%, #e6e6e6 100%);
    background-image: -ms-linear-gradient(bottom, #f2f2f2 81%, #e6e6e6 100%);
    background-image: linear-gradient(to bottom, #f2f2f2 81%, #e6e6e6 100%);
    -webkit-box-shadow: 0 5px 5px -1px rgba(50, 50, 50, 0.24);
    -moz-box-shadow: 0 5px 5px -1px rgba(50, 50, 50, 0.24);
    box-shadow: 0px 5px 5px -1px rgba(50, 50, 50, 0.24);
    padding: 0;
    margin: 0;
    .sub-nav-bar {
		margin:0;
		padding:0;
        li {
            float: left;
			width:50%;
			&:first-child{
				border-left:0;
			}
        }
        a {
            display: block;
			text-align:center;
			padding: 8px 0;
			border-left:1px solid rgba(50, 50, 50, 0.24);
            color:#69696C;
            font-size:20px;
            text-shadow:0 1px 0 #fff;
            img {
                list-style: none outside none;
                max-width:75px;
                margin: auto;
                display: block;
            }
        }
    }
}

/* #FEED PAGE*/
#feed {
    background-color: #ffffff;
}

.distance-filter-wrapper{
    margin: -0.5em 0 1em 0;
}

.job-list{
    padding:1em 0;
}

.job-item{
    padding:1em;
    border-bottom:1px solid #f1f1f1;
    position:relative;
    a{
        padding:2px;
    }
}

.job-item

.job-item-details{
    padding-left:80px;
}

.job-item-title{
    font-size: 16px;
    margin: 0.25em 0;
    font-weight: bold;
}
.job-item-picture{
    position:absolute;
    top:0;
    left:0;
    width:70px;
    height:100%;
    overflow:hidden;
    img{

    }
}
.job-item-date{}
.job-item-location{}


#addJobContent {

    .ui-focus, textarea {
        -webkit-box-shadow: 0 !important;
        box-shadow: 0 !important;
        outline: 0 none transparent;
        -moz-appearance: none;
        -webkit-appearance: none;
    }

    textarea, input[type="text"] {
        -webkit-resize: none;
        -moz-resize: none;
        resize: none;
        height: 25px !important;
        padding: 2px 0 0 0;
        margin: 0px;
        border: none;
        border-bottom: thin solid black !important;
        -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
        -ms-box-sizing: inherit;
        box-sizing: inherit;
        -webkit-box-shadow: 0;
        box-shadow: 0;
        background-color: white;
        outline: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
    }

}

/****** FILTER BTNS ON FEED LIST *****/
    li.filterBtn {
        float: left;
        padding: 0 5px;
    }

div[data-role=content] img {
    max-width: 200px;
}

.hidden{
    display:none;
}
.clear {
    clear: both;
}

.distance-filters{
    margin:10px 0;
    padding:0 0 0 15px;

    li{float:left;}
}

.ui-navbar li .ui-btn{
    border-right-width:1px;
}

//*************************************//
//********* MESSAGE LIST CSS ********//
//*************************************//

a { 
text-decoration:none !important;
}


