body {
  padding-left: 10px;
  padding-right: 10px;
  font-family: Arial;
  background-color: #f4f4f4; }

textarea {
  width: 90%;
  height: 70px; }

button {
  width: 90%;
  height: 50px;
  font-size: 1.8em; }

ul, li {
  list-style: none;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin: 8px 0;
  padding: 0;
  text-shadow: none !important;
  font-family: roboto, Arial, sans-serif;
  color: #3a3a3a; }

.hbfont {
  font-family: 'HBFont', Arial, sans-serif;
  text-decoration: none;
  font-weight: normal !important;
  text-shadow: none !important; }

/*// HOME PAGE*/
/*// NAVIGATION BAR*/
div[data-role="header"] {
  padding: 0;
  margin: 0;
  margin-top: -2%; }

.page-title {
  font-size: 42px;
  color: white !important; }

.nav-bar .messages-btn {
  position: relative;
  left: 90%;
  bottom: 31%; }

a.nav-messages img,
a.nav-overflow img {
  width: 6%; }

a.nav-messages {
  position: relative;
  left: 90%;
  bottom: 25px; }

a.nav-overflow {
  position: relative;
  left: 4%;
  top: 30px; }

div[data-role="header"] .nav-bar {
  background-image: -o-linear-gradient(bottom, #ffae18 64%, #ff9305 81%);
  background-image: -moz-linear-gradient(bottom, #ffae18 64%, #ff9305 81%);
  background-image: -webkit-linear-gradient(top, #ffae18 64%, #ff9305 81%);
  background-image: -ms-linear-gradient(bottom, #ffae18 64%, #ff9305 81%);
  background-image: linear-gradient(to bottom, #ffae18 64%, #ff9305 81%);
  margin: 0 0 -16px 0;
  height: 70px; }

/*// GIVE HELP GET HELP*/
div[data-role="sub-nav"] {
  background-image: -o-linear-gradient(bottom, #f2f2f2 81%, #e6e6e6 100%);
  background-image: -moz-linear-gradient(bottom, #f2f2f2 81%, #e6e6e6 100%);
  background-image: -webkit-linear-gradient(top, #f2f2f2 81%, #e6e6e6 100%);
  background-image: -ms-linear-gradient(bottom, #f2f2f2 81%, #e6e6e6 100%);
  background-image: linear-gradient(to bottom, #f2f2f2 81%, #e6e6e6 100%);
  -webkit-box-shadow: 0 5px 5px -1px rgba(50, 50, 50, 0.24);
  -moz-box-shadow: 0 5px 5px -1px rgba(50, 50, 50, 0.24);
  box-shadow: 0px 5px 5px -1px rgba(50, 50, 50, 0.24);
  padding: 0;
  margin: 0;
  height: 50px; }
  div[data-role="sub-nav"] .sub-nav-bar li {
    float: left;
    margin-top: 10px; }
    div[data-role="sub-nav"] .sub-nav-bar li:first-child {
      margin-left: -25px;
      padding-right: 31px;
      border-right: thin solid #e6e6e6; }
    div[data-role="sub-nav"] .sub-nav-bar li:nth-child(2) {
      margin-left: 25px; }
  div[data-role="sub-nav"] .sub-nav-bar a.sub-nav-help {
    display: block;
    color: #424242; }

#msg-list-wrapper {
  background-color: white;
  border-radius: 4px;
  border: thin solid lightgray; }
  #msg-list-wrapper li:last-child .line {
    border-bottom: 0 !important; }
  #msg-list-wrapper .msg-list .msg-item {
    padding: 5px 7px 0 7px; }
    #msg-list-wrapper .msg-list .msg-item p.time-stamp {
      color: lightgray; }
  #msg-list-wrapper .msg-list .active {
    background-color: #ffae18; }
    #msg-list-wrapper .msg-list .active p.time-stamp {
      color: white; }
    #msg-list-wrapper .msg-list .active .line {
      border-bottom: thin white solid; }
    #msg-list-wrapper .msg-list .active p {
      color: white; }

.msg-item .col-2 .first-line {
  overflow: hidden;
  clear: both;
  margin-bottom: 3px; }
  .msg-item .col-2 .first-line p.msg-from {
    float: left; }
  .msg-item .col-2 .first-line p.time-stamp {
    float: right;
    font-size: 10px;
    font-family: robotolight, Arial, sans-serif; }
.msg-item .line {
  padding-top: 5px; }

.second-line p {
  font-family: robotolight, Arial, sans-serif; }

.msg-item p {
  margin: 0;
  font-size: 12px; }
