body {
  padding-left: 10px;
  padding-right: 10px;
  font-family: Arial;
  background-color: #f4f4f4; }

textarea {
  width: 90%;
  height: 70px; }

button {
  width: 90%;
  height: 50px;
  font-size: 1.8em; }

ul {
  list-style: none; }

h1, h2, h3, h4, h5, h6, p {
  margin: 8px 0;
  padding: 0;
  text-shadow: none !important;
  font-family: roboto, Arial, sans-serif;
  color: #3a3a3a; }

.hbfont {
  font-family: 'HBFont', Arial, sans-serif;
  text-decoration: none;
  font-weight: normal !important;
  text-shadow: none !important; }

/*// HOME PAGE*/
/*// NAVIGATION BAR*/
div[data-role="header"] {
  padding: 0;
  margin: 0;
  margin-top: -2%; }

.page-title {
  font-size: 42px;
  color: white !important; }

.nav-bar .messages-btn {
  position: relative;
  left: 90%;
  bottom: 31%; }

a.nav-messages img,
a.nav-overflow img {
  width: 6%; }

a.nav-messages {
  position: relative;
  left: 90%;
  bottom: 25px; }

a.nav-overflow {
  position: relative;
  left: 4%;
  top: 30px; }

div[data-role="header"] .nav-bar {
  background-image: -o-linear-gradient(bottom, #ffae18 64%, #ff9305 81%);
  background-image: -moz-linear-gradient(bottom, #ffae18 64%, #ff9305 81%);
  background-image: -webkit-linear-gradient(top, #ffae18 64%, #ff9305 81%);
  background-image: -ms-linear-gradient(bottom, #ffae18 64%, #ff9305 81%);
  background-image: linear-gradient(to bottom, #ffae18 64%, #ff9305 81%);
  margin: 0 0 -16px 0;
  height: 70px; }

/*// GIVE HELP GET HELP*/
div[data-role="sub-nav"] {
  background-image: -o-linear-gradient(bottom, #f2f2f2 81%, #e6e6e6 100%);
  background-image: -moz-linear-gradient(bottom, #f2f2f2 81%, #e6e6e6 100%);
  background-image: -webkit-linear-gradient(top, #f2f2f2 81%, #e6e6e6 100%);
  background-image: -ms-linear-gradient(bottom, #f2f2f2 81%, #e6e6e6 100%);
  background-image: linear-gradient(to bottom, #f2f2f2 81%, #e6e6e6 100%);
  -webkit-box-shadow: 0 5px 5px -1px rgba(50, 50, 50, 0.24);
  -moz-box-shadow: 0 5px 5px -1px rgba(50, 50, 50, 0.24);
  box-shadow: 0px 5px 5px -1px rgba(50, 50, 50, 0.24);
  padding: 0;
  margin: 0;
  height: 50px; }
  div[data-role="sub-nav"] .sub-nav-bar li {
    float: left;
    margin-top: 10px; }
    div[data-role="sub-nav"] .sub-nav-bar li:first-child {
      margin-left: -25px;
      padding-right: 31px;
      border-right: thin solid #e6e6e6; }
    div[data-role="sub-nav"] .sub-nav-bar li:nth-child(2) {
      margin-left: 25px; }
  div[data-role="sub-nav"] .sub-nav-bar a.sub-nav-help {
    display: block;
    color: #424242; }

div[data-role="chat-content"] p {
  font-size: 12px;
  font-family: robotolight, Arial, sans-serif;
  color: #5a5a5a;
  margin: 0; }

div[data-role="chat-content"] .helper .message-text {
  background-color: #FFAE18; }
div[data-role="chat-content"] .user .message-text {
  background-color: white; }
div[data-role="chat-content"] .user .time-stamp {
  text-align: right; }
div[data-role="chat-content"] .message-wrapper {
  width: 270px;
  margin-bottom: -5px; }
  div[data-role="chat-content"] .message-wrapper .time-stamp p {
    color: #c0c0c0; }

.message-header {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: right; }

.message-text {
  padding: 6px;
  border-radius: 4px;
  border: thin solid lightgray; }

@media only screen and (max-device-width: 520px), only screen and (max-width: 520px) {
  div[data-role="chat-content"] .user {
    float: right; }

  div[data-role="chat-content"] .helper {
    float: left; } }
@media only screen and (min-width: 521px), only screen and (device-min-width: 521px) {
  div[data-role="chat-content"] .user {
    position: relative;
    left: 58%;
    float: none; }

  div[data-role="chat-content"] .helper {
    position: relative;
    float: none; } }
